body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-family: "Play", sans-serif;
    background-color: #f2f2f2;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: -10px;
    margin-left: 10px;
    height: 120px;
    width: 120px;
}

.gg {
    background-color: rgb(216, 216, 216);
    margin: 10px;
    border-radius: 20px;
}

.b {
    font-size: 22px;
}

.text11,
.text1,
.text2,
.cont2,
.cont {
    background-color: white;
    color: black;
    width: 95%;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    display: flex;
    margin-top: 31px;
    margin-left: 23px;
    font-size: 30px;
}

h1::before {
    content: "🌟";
}

.nt {
    display: flex;
}

.q1::before {
    content: "📚 ";
}

#q2::before {
    content: "💡";
}

#q3::before {
    content: "🚀";
}

.container {
    margin: -100px auto;
    width: 55px;
    margin-right: 100px;
    background-color: rgb(68, 68, 68);
    position: relative;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 43px;
    margin-top: -82px;
    border-radius: 10%;
    margin-right: 130px;
}

#check-menu {
    display: none;
}

.container label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    line-height: 40px;
    font-weight: 700;
}

.burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: white;
    transition: 0.4s all;
}

.burger-line:nth-of-type(2),
.burger-line:nth-of-type(3) {
    top: 18px;
}

.burger-line:nth-of-type(4) {
    top: 28px;
}

.header-menu {
    display: block;
    position: absolute;
    width: 370%;
    bottom: 0;
    right: -70px;
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transform: translateY(100%);
    transition: 0.4s all;
    border-radius: 30px;
    bottom: -10px;
}

.nt ul {
    display: flex;
    gap: 65px;
    list-style: none;
    margin-left: 176px;
}

.nt a {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: 10%;
    font-weight: 700;
    font-size: 20px;
    justify-content: center;
}

.nt li {
    background-color: rgb(139, 138, 138);
    border-radius: 20px;
    width: 170px;
    height: 55px;
    transition: 0.4s all;
    border: 1px solid black;
}

.none {
    background-color: rgb(139, 138, 138);
    border-radius: 20px;
    width: 170px;
    height: 55px;
    transition: 0.4s all;
    border: 1px solid black;
}

.nt li:hover {
    background-color: rgb(43, 42, 42);
}

.header-menu a {
    display: block;
    width: 88%;
    padding: 12px;
    color: white;
    background-color: rgb(88, 88, 88);
    text-decoration: none;
    border: 1px solid grey;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.header-menu a:hover {
    background-color: orange;
}

#check-menu {
    font-size: 16px;
}

#check-menu:checked~.header-menu {
    max-height: 500px;
    font-size: 16px;
}

#check-menu:checked~.burger-line:nth-of-type(1),
#check-menu:checked~.burger-line:nth-of-type(4) {
    display: none;
}

#check-menu:checked~.burger-line:nth-of-type(2) {
    transform: rotate(45deg);
}

#check-menu:checked~.burger-line:nth-of-type(3) {
    transform: rotate(-45deg);
}

header {
    height: 100px;
    background-color: rgb(182, 182, 182);
    position: sticky;
    border-radius: 20px;
    margin: 10px;
    top: 0;
    z-index: 1000;
    margin-top: 20px;
}

h2 {
    font-size: 22px;
    margin-top: 15px;
    text-align: center;
}

p {
    font-size: 17px;
    margin-top: 15px;
}

.kyrs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
}

.subject {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgb(182, 182, 182);
    width: 300px;
    padding: 25px;
    text-align: center;
    transition: all 0.4s;
    margin-bottom: 20px;
}

.subject:hover {
    transform: translateY(-10px);
}

main {
    margin-left: 125px;
    margin-right: 125px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.subject a {
    text-decoration: none;
    color: black;
}

.text2 {
    text-align: center;
    margin-top: 120px;
}

.li li {
    list-style: none;
    margin: 10px;
    font-size: 20px;
    text-align: center;
}

.li li::before {
    content: "⭐";
}

.li1 {
    text-align: center;
    margin-top: 45px;
}

.container1 {
    margin: 200px auto;
    width: 70%;
    background-color: rgb(163, 163, 163);
    position: relative;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 50px;
    margin-top: 10px;
    border-radius: 50px;

}

#check-menu1 {
    display: none;
}

.container1 label {
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    line-height: 40px;
    font-weight: 700;
    transition: 0.4s all;
}

.container1 label:hover {
    background-color: rgb(88, 88, 88);
    border-radius: 50px;
}

.burger-line1 {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 20px;
    height: 3px;
    right: 20px;
    background-color: white;
    transition: 0.4s all;
}

.burger-line1:nth-of-type(1) {
    top: 23px;
}

.burger-line1:nth-of-type(2) {
    transform: rotate(90deg);
    top: 23px;
}

.header-menu1 {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transform: translateY(100%);
    transition: 0.4s all;
}


#check-menu1:checked~.header-menu1 {
    max-height: 200px;
    font-size: 16px;
    padding: 10px;
}

.fisrt {
    display: block;
    width: 85%;
    padding: 10px;
    color: white;
    background-color: rgb(105, 105, 105);
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    font-weight: 700;
    margin-left: 60px;
    border-radius: 50px;
}

.container2 {
    margin: 100px auto;
    width: 70%;
    background-color: rgb(163, 163, 163);
    position: relative;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 50px;
    margin-top: 10px;
    border-radius: 50px;
    top: -135px;
}

#check-menu2 {
    display: none;
}

.container2 label {
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    line-height: 40px;
    font-weight: 700;
    transition: 0.4s all;
}

.container2 label:hover {
    background-color: rgb(88, 88, 88);
    border-radius: 50px;
}

.burger-line2 {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 20px;
    height: 3px;
    right: 20px;
    background-color: white;
    transition: 0.4s all;
}

.burger-line2:nth-of-type(1) {
    top: 23px;
}

.burger-line2:nth-of-type(2) {
    transform: rotate(90deg);
    top: 23px;
}

.header-menu2 {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transform: translateY(100%);
    transition: 0.4s all;
}


#check-menu2:checked~.header-menu2 {
    max-height: 200px;
    font-size: 16px;
    padding: 10px;
}


.fisrt2 {
    display: block;
    width: 85%;
    padding: 10px;
    color: white;
    background-color: rgb(105, 105, 105);
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    font-weight: 700;
    margin-left: 60px;
    border-radius: 50px;
}

.container3 {
    margin: 100px auto;
    width: 70%;
    background-color: rgb(163, 163, 163);
    position: relative;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 50px;
    margin-top: 10px;
    border-radius: 50px;
    top: -175px;
}

#check-menu3 {
    display: none;
}

.container3 label {
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    line-height: 40px;
    font-weight: 700;
    transition: 0.4s all;
}

.container3 label:hover {
    background-color: rgb(88, 88, 88);
    border-radius: 50px;
}

.burger-line3 {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 20px;
    height: 3px;
    right: 20px;
    background-color: white;
    transition: 0.4s all;
}

.burger-line3:nth-of-type(1) {
    top: 23px;
}

.burger-line3:nth-of-type(2) {
    transform: rotate(90deg);
    top: 23px;
}

.header-menu3 {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transform: translateY(100%);
    transition: 0.4s all;
}


#check-menu3:checked~.header-menu3 {
    max-height: 200px;
    font-size: 16px;
    padding: 10px;
}


.fisrt3 {
    display: block;
    width: 85%;
    padding: 10px;
    color: white;
    background-color: rgb(105, 105, 105);
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    font-weight: 700;
    margin-left: 60px;
    border-radius: 50px;
}

.container4 {
    margin: 100px auto;
    width: 70%;
    background-color: rgb(163, 163, 163);
    position: relative;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 50px;
    margin-top: 10px;
    border-radius: 50px;
    top: -215px;
}

#check-menu4 {
    display: none;
}

.container4 label {
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    line-height: 40px;
    font-weight: 700;
    transition: 0.4s all;
}

.container4 label:hover {
    background-color: rgb(88, 88, 88);
    border-radius: 50px;
}

.burger-line4 {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 20px;
    height: 3px;
    right: 20px;
    background-color: white;
    transition: 0.4s all;
}

.burger-line4:nth-of-type(1) {
    top: 23px;
}

.burger-line4:nth-of-type(2) {
    transform: rotate(90deg);
    top: 23px;
}

.header-menu4 {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transform: translateY(100%);
    transition: 0.4s all;
}


#check-menu4:checked~.header-menu4 {
    max-height: 200px;
    font-size: 16px;
    padding: 10px;
}


.fisrt4 {
    display: block;
    width: 85%;
    padding: 10px;
    color: white;
    background-color: rgb(105, 105, 105);
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    font-weight: 700;
    margin-left: 60px;
    border-radius: 50px;
}

footer {
    height: 100px;
    background-color: rgb(182, 182, 182);
    border-radius: 20px;
    margin: 10px;
    margin-top: -240px;
    margin-bottom: 20px;
    width: 75%;
    position: relative;
    right: -12%;
}

footer li {
    display: flex;
    list-style: none;
}

footer ul {
    display: flex;
    gap: 50px;
    justify-content: center;
}

footer .a1 {
    font-size: 50px;
}

footer .a2 {
    font-size: 45px;
}

footer a {
    text-decoration: none;
    margin-top: 15px;
}

.anim::before {
    content: "⭐⭐⭐⭐⭐";
}

.animeit {
    width: 2000px;
    position: relative;
    overflow: hidden;
    right: 120px;
}

.iner {
    width: fit-content;
    display: flex;
    gap: 16px;
    animation: line 60s linear infinite;
}

.anim {
    align-items: center;
    gap: 0 4px;
    width: 250px;
    color: white;
    font-size: 15px;
    background-color: rgb(161, 161, 161);
    padding: 10px 16px;
    border-radius: 6px;
}

.anim p {
    font-size: 19px;
    color: gray;
}

.fade {
    position: absolute;
    inset: 0;
    pointer-events: none;
}


@keyframes line {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 1600px) {
    .nt ul {
        gap: 30px;
        margin-left: 55px;
        margin-top: 22px;
    }

    .container2 {
        top: -120px;
    }

    .container3 {
        top: -157px;
    }

    .container4 {
        top: -190px;
    }

    footer {
        margin-top: -227px;
    }
}

@media (max-width: 1440px) {
    .nt ul {
        gap: 23px;
        margin-left: -8px;
        margin-top: 22px;
    }
}

@media (max-width: 1324px) {
    h1 {
        margin-top: 15px;
        word-break: break-all;
        width: 400px;
    }

    .container3 {
        top: -142px;
    }

    .container4 {
        top: -180px;
    }

    .fisrt,
    .fisrt2,
    .fisrt3,
    .fisrt4 {
        margin-left: 36px;
    }

    footer {
        margin-top: -218px;
    }
}

@media (max-width: 1164px) {
    .nt ul {
        margin-top: 22px;
    }

    .container {
        margin-right: 91px;
    }

    .container4 {
        top: -164px;
    }

    footer {
        margin-top: -202px;
    }
}

@media (max-width: 1122px) {
    h1 {
        display: none;
    }

    .nt ul {
        gap: 26px;
        margin-left: 303px;
        margin-top: 22px;
    }

    .container {
        margin-right: 81px;
    }

    .fisrt,
    .fisrt2,
    .fisrt3,
    .fisrt4 {
        margin-left: 27px;
    }

    footer {
        margin-top: -185px;
    }

    main {
        margin-left: 41px;
        margin-right: 69px;
    }

    .container1,
    .container2,
    .container3,
    .container4 {
        margin-left: 150px;
    }
}


@media (max-width: 1006px) {
    .nt ul {
        gap: 26px;
        margin-left: 152px;
        margin-top: 22px;
    }

    main {
        margin-left: 47px;
        margin-right: 91px;
    }

    .container {
        margin-right: 100px;
    }

    .container2 {
        top: -98px;
    }

    .container3 {
        top: -119px;
    }

    .container4 {
        top: -140px;
    }

    .fisrt,
    .fisrt2,
    .fisrt3,
    .fisrt4 {
        margin-left: 20px;
    }

    footer {
        margin-top: -161px;
    }

    .h2222 {
        margin-left: 52px;
    }

    .container1,
    .container2,
    .container3,
    .container4 {
        margin-left: 160px;
    }
}

@media (max-width: 872px) {
    .nt ul {
        gap: 17px;
        margin-left: 10px;
        margin-top: 22px;
    }

    main {
        margin-left: 37px;
        margin-right: 85px;
    }

    .kyrs {
        margin-left: 24px;
    }

    .container2 {
        top: -98px;
    }

    .container3 {
        top: -117px;
    }

    .container4 {
        top: -136px;
    }

    footer {
        margin-top: -156px;
    }

    .fisrt,
    .fisrt2,
    .fisrt3,
    .fisrt4 {
        margin-left: 16px;
    }

    .container1,
    .container2,
    .container3,
    .container4 {
        margin-left: 125px;
    }

    footer {
        margin-left: -2px;
    }

    .h2222 {
        margin-left: 52px;
    }
}

@media (max-width: 700px) {
    .nt ul {
        gap: 5px;
        margin-left: -32px;
    }

    .container1,
    .container2,
    .container3,
    .container4 {
        margin-left: 46px;
        width: 500px;
    }
}

@media (max-width: 650px) {
    .none {
        display: none;
    }

    .nt ul {
        margin-left: 0px;
    }

    .container {
        margin-right: 107px;
    }

    .h2222 {
        margin-left: 5px;
    }

    .container1,
    .container2,
    .container3,
    .container4 {
        margin-left: 40px;
        width: 465px;
    }
}

@media (max-width: 530px) {
    .container {
        margin-right: 63px;
    }

    .container1,
    .container2,
    .container3,
    .container4 {
        margin-left: 6px;
        width: 432px;
    }

    .h2222 {
        margin-left: 52px;
    }

    footer {
        margin-left: 0px;
    }
}

@media (max-width: 480px) {
    .nt ul {
        margin-left: -38px;
    }

    .container {
        margin-right: 75px;
    }

    .container1,
    .container2,
    .container3,
    .container4 {
        margin-left: -11px;
        width: 432px;
    }

    .kyrs {
        margin-left: 61px;
    }
}